@using Microsoft.AspNetCore.Identity
@using BugTracker.Models.Enums
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager

@{
	BTUser user = await UserManager.GetUserAsync(User);
}

<!doctype html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - BugTracker</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="description" content="BugTracker">
        <meta name="author" content="Dominic Wegrzynowski">
    
    
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">
        @RenderSection("VendorCSS", required: false)
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="~/css/lucid.min.css">
    </head>

    <body>

        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="m-t-30"><img src="~/images/BugTrackerNoText.svg" width="48" height="48" alt="BugTracker"></div>
                <p>Please wait...</p>
            </div>
        </div>
        <!-- Overlay For Sidebars -->

        <div id="wrapper">

            <nav class="navbar navbar-fixed-top">
                <partial name="_navbar" />
            </nav>

            <div id="left-sidebar" class="sidebar">
                <partial name="_sidebar" />
            </div>

            <div id="main-content">
                <div class="container-fluid">
                    <div class="block-header">
                        <partial name="_breadcrumb" />
                    </div>
                    @RenderBody()
                </div>
            </div>

        </div>
        <!-- Javascript -->

        <script src="~/bundles/libscripts.bundle.js"></script>
        <script src="~/bundles/vendorscripts.bundle.js"></script>

        <script src="~/bundles/mainscripts.bundle.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
