@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject IBTNotificationService NotificationService
@inject UserManager<BTUser> UserManager
@{
    BTUser user = await UserManager.GetUserAsync(User);

    IEnumerable<Notification> allNotifications = await NotificationService.GetReceivedNotificationsAsync(user.Id);
    allNotifications = allNotifications.Reverse();

    List<Notification> notifications = new();
    for(int i = 0; i < 5; i++)
    {
        if(allNotifications.Count() > 0)
        {
            if(i >= allNotifications.Count())
            {
                break;
            }
            else
            {
                notifications.Add(allNotifications.ElementAt(i));
            }
        }
        else
        {
            break;
        }
    }

    static string GetDateString(DateTimeOffset inputDate)
    {
        var dateDifference = (DateTime.Today - inputDate.Date).TotalDays;

        if(dateDifference == 0)
        {
            return "Today";
        }
        else if(dateDifference == 1)
        {
            return "Yesterday";
        }
        else
        {
            return $"{ dateDifference } days ago";
        }
    }

    double notificationsToday = 0;

    if(notifications.Count > 0)
    {
        foreach(Notification notification in notifications)
        {
            var dateDifference = (DateTime.Today - notification.Created).TotalDays;

            if((int)dateDifference == 0)
            {
                notificationsToday++; 
            }
        }

    }
}
<navbar class="container-fluid">
    <div class="navbar-btn">
        <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
    </div>

    <div class="navbar-brand">
        <a asp-controller="Home" asp-action="Dashboard"><img src="~/images/BugTrackerHeader.svg" alt="Bug Tracker Logo" style="width:180px;" class="img-responsive logo d-none d-sm-none d-md-none d-lg-block"></a>
    </div>

    <div class="navbar-right">
        <form id="navbar-search" class="navbar-form search-form">
            <input value="" class="form-control" placeholder="Search here..." type="text">
            <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
        </form>

        <div id="navbar-menu">
            <ul class="nav navbar-nav">
                <li>
                    <ul>
                        <a class="btn btn-primary" asp-controller="Tickets" asp-action="Create">New Ticket</a>
                    </ul>
                </li>
               
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="icon-bell"></i>
                        <span class="notification-dot"></span>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li class="header"><strong>You have @notificationsToday new Notifications</strong></li>
                        @foreach(Notification notification in notifications)
                        {
                            <li>
                                <a asp-action="Index" asp-controller="Notifications">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="icon-tag text-warning"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="text"><strong>@notification.Title</strong></p>
                                            <span class="timestamp">@notification.Created.ToString("hh:mm tt") @GetDateString(notification.Created)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                        <li class="footer"><a asp-action="Index" asp-controller="Notifications" class="more">See all notifications</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="icon-equalizer"></i></a>
                    <ul class="dropdown-menu user-menu menu-icon">
                        <li class="menu-heading">ACCOUNT SETTINGS</li>
                        <li><a href="javascript:void(0);"><i class="icon-note"></i> <span>Basic</span></a></li>
                        <li><a href="javascript:void(0);"><i class="icon-equalizer"></i> <span>Preferences</span></a></li>
                        <li><a href="javascript:void(0);"><i class="icon-lock"></i> <span>Privacy</span></a></li>
                        <li><a href="javascript:void(0);"><i class="icon-bell"></i> <span>Notifications</span></a></li>
                        <li class="menu-heading">BILLING</li>
                        <li><a href="javascript:void(0);"><i class="icon-credit-card"></i> <span>Payments</span></a></li>
                        <li><a href="javascript:void(0);"><i class="icon-printer"></i> <span>Invoices</span></a></li>
                        <li><a href="javascript:void(0);"><i class="icon-refresh"></i> <span>Renewals</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit();" class="icon-menu"><i class="icon-login"></i></a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
                </li>
            </ul>
        </div>
    </div>
</navbar>
