@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRolesService RolesService

@{
    BTUser user = await UserManager.GetUserAsync(User);
    IEnumerable<string> roles = await RolesService.GetUserRolesAsync(user);
    string userRole = roles.FirstOrDefault();
}


<sidebar class="">
    <div class="user-account">
        @if (user.AvatarFileData is null)
        {
            <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="rounded-circle user-photo" alt="Default Avatar">
        }
        else
        {
            <img src="data:image/*;base64,@(Convert.ToBase64String(user.AvatarFileData))" class="rounded-circle user-photo" alt="@user.FullName's Avatar" /> 
        }
        <div class="dropdown">
            <span>Welcome,</span>
            <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>@user.FullName</strong></a>
            <span class="badge badge-primary">@userRole</span>
            <ul class="dropdown-menu dropdown-menu-right account">
                <li><a asp-controller="Home" asp-action="UserProfile" asp-route-id="@user.Id"><i class="icon-user"></i>My Profile</a></li>
                <li><a asp-controller="App" asp-action="Inbox"><i class="icon-envelope-open"></i>Messages</a></li>
                <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>
                <li class="divider"></li>
                <li><a asp-controller="Authentication" asp-action="Login"><i class="icon-power"></i>Logout</a></li>
            </ul>
        </div>
        <hr>
        <ul class="row list-unstyled">
            <li class="col-4">
                <small>Sales</small>
                <h6>456</h6>
            </li>
            <li class="col-4">
                <small>Order</small>
                <h6>1350</h6>
            </li>
            <li class="col-4">
                <small>Revenue</small>
                <h6>$2.13B</h6>
            </li>
        </ul>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu">Project</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting"><i class="icon-settings"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content p-l-0 p-r-0">
        <div class="tab-pane active" id="menu">
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    @*Dashboard*@
                    <li class="active">
                        <a asp-action="Dashboard" asp-controller="Home"><i class="icon-speedometer"></i> <span>Dashboard</span></a>
                    </li>
                    @*Notifications*@
                    <li>
                        <a asp-action="Notifications" asp-controller="Notifications"><i class="icon-envelope"></i> <span>Notification Inbox</span></a>
                        
                    </li>
                    @*Projects*@
                    <li>
                        <a class="has-arrow"><i class="icon-puzzle"></i> <span>Projects</span></a>
                        <ul>
                            <li><a asp-action="AllProjects" asp-controller="Projects">All Projects</a></li>
                            <li><a asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
                            @if(User.IsInRole(nameof(Roles.Admin)))
                            {
                                <li><a asp-action="Create" asp-controller="Projects">Add Project</a></li>
                                <li><a asp-action="ManageProjects" asp-controller="Projects">Manage Projects</a></li>

                            }
                            <li><a asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a></li>
                        </ul>
                    </li>
                    @*Tickets*@
                    <li>
                        <a  class="has-arrow"><i class="icon-tag"></i> <span>Tickets</span></a>
                        <ul>
                            <li><a asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
                            <li><a asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
                            @if(User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                            {
                                <li><a asp-controller="Tickets" asp-action="AssignDeveloper">Assign Tickets</a></li>
                                <li><a asp-controller="Tickets" asp-action="Create">Add Ticket</a></li>
                                <li><a asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned Tickets</a></li>

                            }
                            <li><a asp-controller="Tickets" asp-action="ArchivedTickets">Ticket Archive</a></li>
                        </ul>
                    </li>
                    @*Admin*@
                    <li>
                        @if(User.IsInRole(nameof(Roles.Admin)))
                        {
                            <a class="has-arrow"><i class="icon-diamond"></i> <span>Admin</span></a>
                            <ul>
                                <li><a asp-controller="Invites" asp-action="Create"><i class=" icon-user-follow float-left"></i>Company Invite</a></li>
                                <li><a asp-controller="UserRoles" asp-action="ManageUserRoles"><i class=" icon-user float-left"></i>Manage Roles</a></li>
                                <li><a asp-controller="Projects" asp-action="AssignPM">Assign Project Manager</a></li>
                                <li><a asp-controller="Projects" asp-action="Mange Projects">Manage Projects</a></li>
                                <li><a asp-controller="Tickets" asp-action="AssignDeveloper" asp-route-id="">Assign Developer</a></li>
                                <li><a asp-controller="Home" asp-action="MemberProfiles">Assign Project Manager</a></li>
                            </ul>
                        }
                        @if(User.IsInRole(nameof(Roles.ProjectManager)))
                        {
                            <a class="has-arrow"><i class="icon-diamond"></i> <span>Project Manager</span></a>
                            <ul>
                            <li><a asp-controller="Projects" asp-action="Mange Projects">Manage Projects</a></li>
                            <li><a asp-controller="Tickets" asp-action="AssignDeveloper">Assign Tickets</a></li>
                        </ul>
                        }
                        
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane p-l-15 p-r-15" id="Chat">
            <form>
                <div class="input-group m-b-20">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </form>
            <ul class="right_chat list-unstyled">
                <li class="online">
                    <a href="javascript:void(0);">
                        <div class="media">
                            <img class="media-object " src="~/images/xs/avatar4.jpg" alt="">
                            <div class="media-body">
                                <span class="name">Chris Fox</span>
                                <span class="message">Designer, Blogger</span>
                                <span class="badge badge-outline status"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="online">
                    <a href="javascript:void(0);">
                        <div class="media">
                            <img class="media-object " src="~/images/xs/avatar5.jpg" alt="">
                            <div class="media-body">
                                <span class="name">Joge Lucky</span>
                                <span class="message">Java Developer</span>
                                <span class="badge badge-outline status"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="offline">
                    <a href="javascript:void(0);">
                        <div class="media">
                            <img class="media-object " src="~/images/xs/avatar2.jpg" alt="">
                            <div class="media-body">
                                <span class="name">Isabella</span>
                                <span class="message">CEO, Thememakker</span>
                                <span class="badge badge-outline status"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="offline">
                    <a href="javascript:void(0);">
                        <div class="media">
                            <img class="media-object " src="~/images/xs/avatar1.jpg" alt="">
                            <div class="media-body">
                                <span class="name">Folisise Chosielie</span>
                                <span class="message">Art director, Movie Cut</span>
                                <span class="badge badge-outline status"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="online">
                    <a href="javascript:void(0);">
                        <div class="media">
                            <img class="media-object " src="~/images/xs/avatar3.jpg" alt="">
                            <div class="media-body">
                                <span class="name">Alexander</span>
                                <span class="message">Writter, Mag Editor</span>
                                <span class="badge badge-outline status"></span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-pane p-l-15 p-r-15" id="setting">
            <h6>Choose Mode</h6>
            <ul class="choose-mode list-unstyled">
                <li data-mode="light">
                    <div class="white"></div>
                    <span>Light</span>
                </li>
                <li data-mode="dark">
                    <div class="black"></div>
                    <span>Dark</span>
                </li>
            </ul>
            <h6>Choose Skin</h6>
            <ul class="choose-skin list-unstyled">
                <li data-theme="purple">
                    <div class="purple"></div>
                    <span>Purple</span>
                </li>
                <li data-theme="blue">
                    <div class="blue"></div>
                    <span>Blue</span>
                </li>
                <li data-theme="cyan">
                    <div class="cyan"></div>
                    <span>Cyan</span>
                </li>
                <li data-theme="green">
                    <div class="green"></div>
                    <span>Green</span>
                </li>
                <li data-theme="orange">
                    <div class="orange"></div>
                    <span>Orange</span>
                </li>
                <li data-theme="blush">
                    <div class="blush"></div>
                    <span>Blush</span>
                </li>
            </ul>
            <hr>
            <h6>General Settings</h6>
            <ul class="setting-list list-unstyled">
                <li>
                    <label class="fancy-checkbox">
                        <input type="checkbox" name="checkbox">
                        <span>Report Panel Usag</span>
                    </label>
                </li>
                <li>
                    <label class="fancy-checkbox">
                        <input type="checkbox" name="checkbox" checked>
                        <span>Email Redirect</span>
                    </label>
                </li>
                <li>
                    <label class="fancy-checkbox">
                        <input type="checkbox" name="checkbox" checked>
                        <span>Notifications</span>
                    </label>
                </li>
                <li>
                    <label class="fancy-checkbox">
                        <input type="checkbox" name="checkbox">
                        <span>Auto Updates</span>
                    </label>
                </li>
                <li>
                    <label class="fancy-checkbox">
                        <input type="checkbox" name="checkbox">
                        <span>Offline</span>
                    </label>
                </li>
                <li>
                    <label class="fancy-checkbox">
                        <input type="checkbox" name="checkbox">
                        <span>Location Permission</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="tab-pane p-l-15 p-r-15" id="question">
            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </form>
            <ul class="list-unstyled question">
                <li class="menu-heading">HOW-TO</li>
                <li><a href="javascript:void(0);">How to Create Campaign</a></li>
                <li><a href="javascript:void(0);">Boost Your Sales</a></li>
                <li><a href="javascript:void(0);">Website Analytics</a></li>
                <li class="menu-heading">ACCOUNT</li>
                <li><a href="javascript:void(0);">Cearet New Account</a></li>
                <li><a href="javascript:void(0);">Change Password?</a></li>
                <li><a href="javascript:void(0);">Privacy &amp; Policy</a></li>
                <li class="menu-heading">BILLING</li>
                <li><a href="javascript:void(0);">Payment info</a></li>
                <li><a href="javascript:void(0);">Auto-Renewal</a></li>
                <li class="menu-button m-t-30">
                    <a href="javascript:void(0);" class="btn btn-primary"><i class="icon-question"></i> Need Help?</a>
                </li>
            </ul>
        </div>
    </div>
</sidebar>