$white: #ffffff;
$blue-grey-400: #78909c !default;
$grey-900: #212121 !default;
$blue-400: #60bafd !default;
$blue-500: #3eacff !default;
$blue-600: #0d97ff !default;

.theme-blue {

    ::selection {
        color: $white;
        background: $blue-500;
    }

    .page-loader-wrapper {
        background: $blue-500;
    }

    #left-sidebar .nav-tabs .nav-link.active {
        color: $blue-500;
    }

    &:before,
    &:after {
        background: $blue-500;
    }

    #wrapper {
        &:before,
        &:after {
            background: $blue-500;
        }
    }

    .sidebar-nav .metismenu > li.active > a {
        border-left-color: $blue-500;
    }

    .navbar-nav ul.menu-icon {
        background: $blue-500;
    }

    .fancy-checkbox {
        input[type="checkbox"] {

            &:checked + span:before {
                background: $blue-500;
                border-color: $blue-500;
            }
        }
    }

    .chat-widget {
        li {
            &.right {

                .chat-info {
                    background: $blue-500;
                    color: $white;

                    &:before {
                        border-left: 10px solid $blue-500;
                    }
                }
            }
        }
    }

    .fc .fc-view-container .fc-view.fc-basic-view > table > thead tr th.fc-widget-header {
        background: $blue-500;
        border-color: $blue-500;
        color: $white;
    }

    .blog-page .single_post .footer .stats li a:hover {
        color: $blue-500;
    }

    .auth-main {
        .btn-primary {
            background: $blue-500;
            border-color: $blue-500;
        }
    }

    .sidebar-nav .metismenu > li i {
        color: $blue-500;
    }

    .right_chat li a:hover {
        .media-object {
            border-color: $blue-500;
        }
    }

    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus {
        color: $blue-400;
    }
}

