@model IEnumerable<BugTracker.Models.ViewModels.ManageUserRolesViewModel>


<div class="app-wrapper">
	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">
            <div class="row">
                <h2 class="mb-3 h3"><strong>Manage Member Roles</strong></h2>

                <div class="card col-12">
                    <div class="card-body">
                        <p class="text-muted font-13 m-b-30">
                            This page displays the current roles assigned to members in the organization. Once roles are selected, click "Assign Roles" to update the member's role.          
                        </p>
                    </div>
                </div>

                @foreach(var member in Model)
                {
                    <div class="card col-2 m-5 g-5">
                        <div class="card-body">
                            <h4>@member.BTUser.FullName</h4>
                            <hr/>
                            <form asp-action="ManageUserRoles" asp-controller="UserRoles" method=post>
                                <input type="hidden" asp-for="@member.BTUser.Id"/> 
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <select asp-for="@member.SelectedRoles" class="form-control" style="min-height:120px;" asp-items="@member.Roles" multiple></select>
                                            <hr />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Assign Role" class="btn btn-primary text-white" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </div>
</div>