@{
    ViewData["Title"] = "Welcome to BugTracker";
	Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="card">
        <div class="header">
            <p class="lead">Welcome!</p>
        </div>
        <div class="body">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Launch BugTracker</a>
        </div>
</div>


@*<body class="app app-login p-0">    	
    <div class="row g-0 app-auth-wrapper">
	    <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
		    <div class="d-flex flex-column align-content-end">
			    <div class="app-auth-body mx-auto">	
				    <div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img class="logo-icon me-2" src="~/img/app-logo.svg" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-5">BugTracker</h2>
			        
					<div class="app-card app-card-account shadow-lg d-flex flex-column align-items-start">
						    <div class="app-card-header p-3 border-bottom-0">
						        <div class="row align-items-center gx-3">
							        <div class="col-auto">
								        <h3 class="app-card-title">Welcome,</h3>
							        </div>
						        </div>
						    </div>
						    <div class="app-card-body px-4 pb-3 w-100">
							    <div class="item  py-3">
								    <div class="row justify-content-between align-items-center">
									    <a asp-area="Identity" asp-page="/Account/Login" class="btn app-btn-primary w-50 theme-btn mx-auto">Launch BugTracker</a>
								    </div>
							    </div>
						    </div>
						   
						</div>

			    </div>
		    
			    <footer class="app-auth-footer">
				    <div class="container text-center py-3">
				         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
				       
				    </div>
			    </footer>	
		    </div>  
	    </div>
	    <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
		    <div class="auth-background-holder">
		    </div>
		    <div class="auth-background-mask"></div>
		    <div class="auth-background-overlay p-3 p-lg-5">
			    <div class="d-flex flex-column align-content-end h-100">
				    <div class="h-100"></div>
				    <div class="overlay-content p-3 p-lg-4 rounded">
					    <h5 class="mb-3 overlay-title">Explore Portal Admin Template</h5>
					    <div>Portal is a free Bootstrap 5 admin dashboard template. You can download and view the template license <a href="https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/">here</a>.</div>
				    </div>
				</div>
		    </div>
	    </div>
    
    </div>
</body>*@


<!--Bootstrap-->         
@*<script src="~/popper.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>  


*@