@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    ViewData["MainMenu"] = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

    <div class="card">
        <div class="header">
            <p class="lead">Login to your account</p>
        </div>
        <div class="body">
            <form id="account" method="post" class="form-auth-small">
                <div class="form-group">
                    <label asp-for="Input.Email" class="control-label sr-only">Email</label>
                    <input type="email" class="form-control" id="signin-email" placeholder="Email" asp-for="Input.Email">
                    <span asp-validation-for="Input.Email" class="text-danger" style="text-decoration: none"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="control-label sr-only">Password</label>
                    <input asp-for="Input.Password" type="password" class="form-control" id="signin-password" placeholder="Password">
                </div>
                <div class="form-group clearfix">
                    <label class="fancy-checkbox element-left">
                        <input asp-for="Input.RememberMe" type="checkbox">
                        <span>Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                <div class="bottom">
                    <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a asp-page="./ForgotPassword">Forgot password?</a></span>
                </div>

                <div class="form-group">
                <hr />
                <div class="row mb-3">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-sm col-12">Demo Admin</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-sm col-12">Demo PM</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-sm col-12">Demo Developer</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-sm col-12">Demo Submitter</button>
                    </div>
                </div>
            </div>


            </form>

           @* <div class="form-group">
                <hr />
                <div class="row mb-3">
                    <div class="col-6">
                        <a href="javascript:document.getElementById('DemoAdminForm').submit();" class="btn btn-primary btn-sm col-12">Demo Admin</a>
                    </div>
                    <div class="col-6">
                        <a href="javascript:document.getElementById('DemoPMForm').submit();" class="btn btn-primary btn-sm col-12">Demo PM</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="javascript:document.getElementById('DemoDevForm').submit();" class="btn btn-primary btn-sm col-12">Demo Developer</a>
                    </div>
                    <div class="col-6">
                        <a href="javascript:document.getElementById('DemoSubForm').submit();" class="btn btn-primary btn-sm col-12">Demo Submitter</a>
                    </div>
                </div>
            </div>*@

            @*<form id="DemoAdminForm" asp-area="Identity" asp-page="Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = ""})">
                <input type="hidden" asp-for="Input.Email" value="demoadmin@bugtracker.com"/>
                <input type="hidden" asp-for="Input.Password" value="placeholder"/>
                <input type="hidden" asp-for="Input.RememberMe" value="false"/>
            </form>

            <form id="DemoPMForm" asp-area="Identity" asp-page="Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = ""})">
                <input type="hidden" asp-for="Input.Email" value="demopm@bugtracker.com"/>
                <input type="hidden" asp-for="Input.Password" value="placeholder"/>
                <input type="hidden" asp-for="Input.RememberMe" value="false"/>
            </form>

            <form id="DemoDevForm" asp-area="Identity" asp-page="Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = ""})">
                <input type="hidden" asp-for="Input.Email" value="demodev@bugtracker.com"/>
                <input type="hidden" asp-for="Input.Password" value="placeholder"/>
                <input type="hidden" asp-for="Input.RememberMe" value="false"/>
            </form>

            <form id="DemoSubForm" asp-area="Identity" asp-page="Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = ""})">
                <input type="hidden" asp-for="Input.Email" value="demosub@bugtracker.com"/>
                <input type="hidden" asp-for="Input.Password" value="placeholder"/>
                <input type="hidden" asp-for="Input.RememberMe" value="false"/>
            </form>*@

        </div>
    </div>




<!--Bootstrap-->        
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/popper.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>  






