@model BugTracker.Models.ViewModels.AssignPMViewModel

@{
    ViewData["Title"] = "Assign Project Manager";
}

<div class="row clearfix">
    <div class="col-md-4 col-lg-4">
        <div class="card">
            <div class="body">
                <form method="post" asp-action="AssignPM" asp-controller="Projects">
                    <input hidden asp-for="Project.Id"/>
                    <h4>@Model.Project.Name</h4>
                    <label class="control-label">Select Project Manager</label>
                    <div class="form-group">
                        <select asp-for="PMID" class="form-control col-6" asp-items="@Model.PMList">
                            <option></option>
                        </select>
                        <br/>
                        <input type="submit" value="Assign" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>