@model BugTracker.Models.ViewModels.AddProjectWithPMViewModel;
@using BugTracker.Models.Enums
@{
    ViewData["Title"] = "Create";
}

<h1 class="d-flex justify-content-center">Create Project</h1>


<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Name" class="control-label"></label>
                <input asp-for="Project.Name" class="form-control" />
                <span asp-validation-for="Project.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.StartDate" class="control-label"></label>
                <input asp-for="Project.StartDate" class="form-control" />
                <span asp-validation-for="Project.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.EndDate" class="control-label"></label>
                <input asp-for="Project.EndDate" class="form-control" />
                <span asp-validation-for="Project.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Choose a priority</label>
                <select asp-for="Project.ProjectPriorityId" class ="form-control" asp-items="@Model.PriorityList"></select>
            </div>
            
            <div class="form-group">
                <label class="control-label">Project Image</label>
                <input asp-for="Project.ImageFormFile" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif"
                       onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])"/>
                <span asp-validation-for="Project.ImageFormFile"></span>
            </div>
            <label>Image Preview</label>
            @if(Model.Project?.ImageFileData is not null)
            {
                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Project.ImageFileData))">
            }
            else
            {
                <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px;" src="">

            }
            if(User.IsInRole(Roles.Admin.ToString()))
            {
                <div class="form-group">
                    <label class="control-label">Project Manager</label>
                    <select asp-for="PmId" class ="form-control" asp-items="@Model.PmList">
                        <option></option>
                    </select>
                </div>
            }
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
