@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "All Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);
}


<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
	    <div class="container-xl">
            <div class="row">
                @foreach(Project project in Model)
                {
                    <div class="col-4 mb-3" g-5>
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="card-img-top">
                                    @if (project.ImageFileData is null)
                                    {
                                        <img style="width:35px;height:35px" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Default Avatar"/>
                                    }
                                    else
                                    {
                                        <img  style="width:35px;height:35px;" src="data:image/*;base64,@(Convert.ToBase64String(project.ImageFileData))" alt="Project Picture" />
					                }
                                </div>
                                <h3 class="text-center">
                                    @project.Name
                                </h3>

                                <p class="note">@project.Description</p>
                            
                                <hr />
                                <div class="row text-center ">
                                    <div class="col-12">
                                        @foreach(BTUser member in project.Members)
						                {                       
							                @if(member.AvatarFileData is null)
							                { 
								                <img class="rounded-circle shadow-sm" style="width:35px;height:35px;margin-left:-15px;outline-color:white;outline-width:thin;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Default Avatar"/>
							                }
							                else
							                {
								                <img class="rounded-circle shadow-sm btn-outline-light" style="width:35px;height:35px;margin-left:-15px;outline-color:white;outline-width:thick;" src="data:image/*;base64,@(Convert.ToBase64String(member.AvatarFileData))" alt="@member.FullName's avatar'" />
							                }
						                }
                                    </div>
                                    <div class="col-12 mt-2">
                                        <a asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@project.Id" class="btn btn-sm btn-primary text-white">Manage Team</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>