@model BugTracker.Models.Invite

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvitorId" class="control-label"></label>
                <select asp-for="InvitorId" class="form-control" asp-items="ViewBag.InvitorId"></select>
                <span asp-validation-for="InvitorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteeId" class="control-label"></label>
                <select asp-for="InviteeId" class="form-control" asp-items="ViewBag.InviteeId"></select>
                <span asp-validation-for="InviteeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyToken" class="control-label"></label>
                <input asp-for="CompanyToken" class="form-control" />
                <span asp-validation-for="CompanyToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteDate" class="control-label"></label>
                <input asp-for="InviteDate" class="form-control" />
                <span asp-validation-for="InviteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoinDate" class="control-label"></label>
                <input asp-for="JoinDate" class="form-control" />
                <span asp-validation-for="JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteeEmail" class="control-label"></label>
                <input asp-for="InviteeEmail" class="form-control" />
                <span asp-validation-for="InviteeEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteeFirstName" class="control-label"></label>
                <input asp-for="InviteeFirstName" class="form-control" />
                <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InviteeLastName" class="control-label"></label>
                <input asp-for="InviteeLastName" class="form-control" />
                <span asp-validation-for="InviteeLastName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
